<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginServiceImpl</servlet-name>
    <servlet-class>com.ratemypark.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServiceImpl</servlet-name>
    <url-pattern>/ratemypark/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>logoutServiceImpl</servlet-name>
    <servlet-class>com.ratemypark.server.LogoutServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logoutServiceImpl</servlet-name>
    <url-pattern>/ratemypark/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>newAccountServiceImpl</servlet-name>
    <servlet-class>com.ratemypark.server.NewAccountServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>newAccountServiceImpl</servlet-name>
    <url-pattern>/ratemypark/new-account</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>RateMyPark.html</welcome-file>
  </welcome-file-list>

</web-app>
